*{
 margin: 0;
 padding :0;
 text-decoration: none;
 box-sizing: border-box;
}
h1{
    text-align: center;
    
}
body{
    font-family: 'Franklin Gothic Medium';
    background-image: url('images/barberbackgroundimg.jpg'); 
}
nav{ 
    background: black;
    height:80px;
    width:100%
}

#logo{
    width:200px;
    height:200px;
    border-radius:50%;
    
    
}
nav ul {
    float: right;
    margin-right: 20px; 
}

nav ul li {
    display: inline-block; 
    line-height:80px;
    margin:0 5px;
}
nav ul li a{
    color:white;
    font-size : 17px;
    padding: 7px 13px;
    border-radius:3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background:rgb(165, 159, 159);
    transition:.5s;
}        


#banner{
    background: url(barberbackgroundimg.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: grid;
    padding:15px ;
    margin:0 auto;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 50px;
    grid-column-gap: 25px;
    transition: 2s;

    
}
 #banner img{
    border-radius: 4px 18px;
    box-shadow: 10px 20px;

}


.main{
    padding: 0px;
    margin: 40px;
    border: 2px dotted lightskyblue;
    border-radius: 50%;
}
.main a:hover{
    transform:scale(1.7);
    z-index: 3;
}
footer{
    padding :relative;
    background: url(animation.webp);
    min-height: 200px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social_icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 ;
    flex-wrap: wrap;
}
footer .social_icon li{
    list-style: none;
}
footer .social_icon li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px ;
    display: inline-block;
    transition: 0,5s;

}
footer .social_icon li a:hover{
    transform: translateY(-10px);
}
footer .menu li a {
    font-size:1,2em ;
    color: #fff;
    margin: 0 10px ;
    display: inline-block;
    opacity: 0,7s;
    text-decoration: none ;
}
footer .menu li a:hover{
    opacity: 1;
}
footer p{
    color:#fff;
    text-align:center ;
    margin-top: 15px;
    margin-bottom:10px ;
    font-size: 1.1em;
}
footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: #564f4f url(wave.png);
    background-size: 100px 100px;

}
footer #wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animatewave 5s linear infinite ;
}
